---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import PositioningSection from '../components/PositioningSection.astro';
import WhySection from '../components/WhySection.astro';
import UseCasesSection from '../components/UseCasesSection.astro';
import PricingSection from '../components/PricingSection.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <PositioningSection />
    <WhySection />
    <UseCasesSection />
    <PricingSection />
    <Footer />
  </main>
</BaseLayout>
